<p>Nivel de batería, velocidad de la patineta, operación por cuadrante, desconexión por falta de envío de datos. datos
    de latitud y longitud</p>
<p>Tipos de dispositivos más genéricos, podrían ser móviles o patinetas. Modelo o interfaz principal sería vehículos.
    Aplicar principio de segregación. Valoración económica si la plataforma se vuelve comercial cuando el servicio se
    escale.
</p>
<p>Roles: Tipo supervisor (que solo pueda consumir data), configurador (que puede agregar patinetas), administrador
    (super usuario).</p>
<p>Autentificación con Firebase.</p>
<p>Hacer diagrama de bloques del sistema en HiLes</p>
<div id="map"></div>