<p>Nivel de batería, velocidad de la patineta, operación por cuadrante, desconexión por falta de envío de datos. datos
    de latitud y longitud</p>
<p>Tipos de dispositivos más genéricos, podrían ser móviles o patinetas. Modelo o interfaz principal sería vehículos.
    Aplicar principio de segregación. Valoración económica si la plataforma se vuelve comercial cuando el servicio se
    escale.
</p>
<p>Roles: Tipo supervisor (que solo pueda consumir data), configurador (que puede agregar patinetas), administrador
    (super usuario).</p>
<p>Autentificación con Firebase.</p>
<p>Hacer diagrama de bloques del sistema en HiLes</p>
<p>Características del dashboard: Activity Log (Historial y recientes), información sobre patinetas en movimiento y en desconexión</p>
<p>Historial de detalles de cada patineta: Datos básicos de la patineta, historial de actividad</p>
<p>Información sobre vehículos operando y desconectados</p>
<div class="container-fluid px-0">
    <div class="row m-0">
        <div class="offset-6 col-6 py-3">
            <span class="fw-bold">Traffic Anlytics</span>
            <div class="rounded-3 mt-2" id="map"></div>
        </div>
    </div>
</div>