#map {
    height: 500px;
    width: 100%;
}

#bykeMarker {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/greenboard-8530d.appspot.com/o/bicycle.png?alt=media&token=3e500b33-bfe8-4f23-bc63-934a21d3da77");
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}