<div class="modal fade" id="vehicleModal" tabindex="-1" aria-labelledby="vehicleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <span class="modal-title fs-1 fw-bold" id="vehicleModalLabel" style="font-size: 22px">Status
                    Report</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="consultedRecord$ | async as record">
                <div class="container-fluid align-items-center">
                    <div class="d-flex justify-content-center">
                        <div class="bg-light p-3 rounded-circle">
                            <img src="assets/images/scooter.png" alt="scooter">
                        </div>
                    </div>
                    <div class="row m-0 mt-4 mb-3">
                        <div class="col-4 d-flex flex-column">
                            <span class="fw-bold">Id</span>
                            <span> {{ record.id }} </span>
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <span class="fw-bold">Type</span>
                            <span> {{ record.type | titlecase }} </span>
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <span class="fw-bold">Status</span>
                            <span> {{ record.status }} </span>
                        </div>
                    </div>
                    <div class="row m-0 mb-3">
                        <div class="col-4 d-flex flex-column">
                            <span class="fw-bold">Address (Last Seen)</span>
                            <span> {{ record.address }} </span>
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <span class="fw-bold">Battery level</span>
                            <span> {{ record.batteryLevel / 100 | percent }} </span>
                        </div>
                        <div class="col-4 d-flex flex-column" *ngIf="record.status === 'Active'">
                            <span class="fw-bold">Need to be charge?</span>
                            <span> {{ record.isRunOutOfBattery === 'Yes' ? 'Yes' : 'No' }} </span>
                        </div>
                    </div>
                    <div class="mb-3 px-3">
                        <label for="descriptionTextArea" class="form-label fw-bold">Description</label>
                        <textarea class="form-control" id="descriptionTextArea" rows="4">
                                {{ record.description }}
                            </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center border-0">
                <button type="button" class="btn btn-danger text-white">Report</button>
            </div>
        </div>
    </div>
</div>