<div class="table-responsive">
    <table class="table table-striped table-hover caption-top  align-middle" *ngIf="records$ | async as records">
        <caption class="pt-0 fw-bold text-black">Activity Log</caption>
        <tbody class="fs-4" *ngIf="records.length >= 1; else noRecords">
            <tr *ngFor="let record of records">
                <ng-container [ngTemplateOutlet]="recordsRow" [ngTemplateOutletContext]="{ record: record }">
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noRecords>
    <label class="text-gray">No Records</label>
</ng-template>
<ng-template #recordsRow let-record="record">
    <th scope="row"> {{ record.id }} </th>
    <td>
        <span *ngIf="record.isRunOutOfBattery === 'Yes' && record.status === 'Active'"> Low battery for {{ record.type
            }}: battery level at {{
            record.batteryLevel / 100 | percent }} </span>
        <span *ngIf="record.status === 'Lost Connection'"> A {{ record.type }} has lost connection </span>
    </td>
    <td> {{ record.lastUpdate | date:"medium" }} </td>
    <td> <button class="btn btn-primary btn-sm rounded-3 text-white"
            [ngClass]="{'btn-danger': record.status === 'Lost Connection'}" data-bs-toggle="modal"
            data-bs-target="#vehicleModal" (click)="consultRecord(record)"> {{ record.status === 'Lost Connection' ?
            'Report' : 'See' }} </button> </td>
</ng-template>
<app-vehicles-modal></app-vehicles-modal>