<div class="container-fluid bg-light px-0">
    <div class="row m-0">
        <div class="col-auto px-0">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col px-0">
            <app-header></app-header>
            <p>Nivel de batería, velocidad de la patineta, operación por cuadrante, desconexión por falta de envío de
                datos. datos
                de latitud y longitud</p>
            <p>Tipos de dispositivos más genéricos, podrían ser móviles o patinetas. Modelo o interfaz principal sería
                vehículos.
                Aplicar principio de segregación. Valoración económica si la plataforma se vuelve comercial cuando el
                servicio se
                escale.
            </p>
            <p>Roles: Tipo supervisor (que solo pueda consumir data), configurador (que puede agregar patinetas),
                administrador
                (super usuario).</p>
            <p>Autentificación con Firebase.</p>
            <p>Hacer diagrama de bloques del sistema en HiLes</p>
            <p>Características del dashboard: Activity Log (Historial y recientes), información sobre patinetas en
                movimiento y en desconexión</p>
            <p>Historial de detalles de cada patineta: Datos básicos de la patineta, historial de actividad</p>
            <p>Información sobre vehículos operando y desconectados</p>
            <div class="tab-content p-4" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab" tabindex="0">
                    <div class="container-fluid">
                        <div class="row m-0">
                            <div class="col">
                                <app-activity-log></app-activity-log>
                            </div>
                            <div class="col">
                                <app-map></app-map>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
                    tabindex="0">
                </div>
                <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab"
                    tabindex="0">...</div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"
                    tabindex="0">...</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                    tabindex="0">...</div>
            </div>
        </div>
    </div>
</div>
