<div class="container-fluid bg-light px-0">
    <div class="row m-0">
        <div class="col-auto px-0">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col px-0">
            <app-header></app-header>
            <div class="tab-content p-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab" tabindex="0">
                    <div class="container-fluid">
                        <div class="d-flex flex-row align-items-center">
                            <div class="p-3 shadow rounded-3 bg-white w-auto">
                                <em class="fa-solid fa-rocket fa-2x"></em>
                            </div>
                            <label class="fw-bold fs-rfs-20 ms-4">Operation Dashboard</label>
                        </div>
                        <div class="row m-0" style="margin-top: 80px !important;">
                            <app-map></app-map>
                            <div class="row m-0 px-0" style="height: 400px !important;">
                                <div class="col-6">
                                    <div class="shadow border border-1 bg-white rounded-2 p-4 mt-4 pt-0 h-100">
                                        <app-services-register></app-services-register>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="shadow border border-1 bg-white rounded-2 p-4 mt-4 pt-0 h-100">
                                        <app-activity-log></app-activity-log>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab"
                    tabindex="0">
                    <app-user></app-user>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                    tabindex="0">Settings</div>
            </div>
        </div>
    </div>
</div>