// Style for modal placed in error dialog component
.error-dialog-modal {
    border-radius: 20px !important;
    background-color: #3274b1 !important;
    box-shadow: 0 1rem 3rem rgba($black, 0.175) !important;
}
