<div class="nav flex-column nav-pills min-vh-100 p-5 h-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <i class="fa-solid fa-road text-center text-white fa-4x"></i>
    <span class="text-white text-center fw-bold fs-26 mt-2">GreenBoard</span>
    <button class="nav-link text-white fw-bold active mt-4" id="v-pills-home-tab" data-bs-toggle="pill"
        data-bs-target="#v-pills-home" data-bs-parent="v-pills-tabContent" type="button" role="tab"
        aria-controls="v-pills-home" aria-selected="true"><em class="fa-solid fa-map text-white me-2"></em>Home</button>
    <button class="nav-link text-white fw-bold mt-3" id="v-pills-users-tab" data-bs-toggle="pill"
        data-bs-target="#v-pills-users" data-bs-parent="v-pills-tabContent" type="button" role="tab"
        aria-controls="v-pills-users" aria-selected="false"><em
            class="fa-solid fa-user text-white me-2"></em>Users</button>
    <button class="nav-link text-white fw-bold mt-3" id="v-pills-settings-tab" data-bs-toggle="pill"
        data-bs-target="#v-pills-settings" data-bs-parent="v-pills-tabContent" type="button" role="tab"
        aria-controls="v-pills-settings" aria-selected="false"><em
            class="fa-solid fa-gear text-white me-2"></em>Settings</button>
    <button class="nav-link text-white fw-bold mt-auto" id="v-pills-settings-tab" data-bs-toggle="pill" type="button"
        role="tab" aria-controls="v-pills-settings" aria-selected="false" (click)="signOut()"><i
            class="fa-solid fa-right-from-bracket fa-rotate-180 text-white me-2"></i>
        Salir</button>
</div>