<div class="table-responsive px-3">
    <table class="table table-hover table-borderless align-middle mt-2" *ngIf="users$ | async as users">
        <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Picture</th>
                <th class="text-center" scope="col">Name</th>
                <th class="text-center" scope="col">Role</th>
                <th class="text-center" scope="col">Email</th>
                <th class="text-center" scope="col">Phone</th>
                <th class="text-center" scope="col">Last Login</th>
                <th class="text-center" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="text-muted">
            <tr *ngFor="let user of users; let i = index">
                <th class="text-center" scope="row"> {{ i + 1 }} </th>
                <td class="d-flex justify-content-center">
                    <div class="rounded-circle bg-light d-flex align-items-center justify-content-center"
                        style="width: 50px; height: 50px;">
                        <em class="fa-solid fa-user text-white"></em>
                    </div>
                </td>
                <td class="text-center"> {{ user.name }} {{ user.lastName }} </td>
                <td class="text-center"> {{ user.role }} </td>
                <td class="text-center"> {{ user.email }} </td>
                <td class="text-center"> {{ user.phone }} </td>
                <td class="text-center"> {{ user.lastLogin | date:'medium' }} </td>
                <td class="text-center">
                    <div class="d-inline-flex">
                        <button class="btn btn-secondary text-white">Update</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>